.weather-details {
    height: 100%;

    .weather-detail-wrapper {

        .temperature {
            font-size: 50px;
            font-weight: 600;
        }

        .time {
            font-size: 20px;
        }

        .weather-other-details {
            p {
                margin: 10px 0;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
}


@media (min-width:768px) and (max-width:991px) {
    .weather-details {
        position: sticky;
        top: 60px;
    }
}

@media(max-width:768px) {
    .weather-details {
        height: auto;
    }
}