body {
    background-color: #F7F7F8;
}

.inner-wrap {
    padding-top: 60px;
    padding-bottom: 60px;
}

.content-wrap {
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #4551d6;
}